{% extends 'template.html' %}
{% block title %}Edytuj klasę{% endblock title %}

{% block heading %}Edytuj klasę{% endblock heading %}
{% block content %}
    <form method="post">{% csrf_token %}
        <form method="POST" class="post-form">
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit" value="Save">
                            Dodaj
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </form>
{% endblock content %}