{% extends 'template.html' %}
{% block title %}Klasa{% endblock title %}

{% block heading %} {{ clazz.name }} {{ clazz.year }} {% endblock heading %}
{% block content %}
    {% if sports %}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Nazwa sportu</th>
                <th class="text-center" scope="col">Przejdź</th>
            </tr>
            </thead>
            <tbody>
            {% for sport in sports %}
                <tr>
                    <th class="text-center">{{ sport.name }}</th>
                    <td class="text-center">
                        <a href="{% url 'wyniki:classes_results' clazz.id sport.id %}">
                            <button class="btn btn-custom">Wyświetl</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>W naszej bazie danych nie ma żadnych sportów!</p>
        <a href="{% url 'wyniki:sports_create' %}">
            <button type="button" class="btn btn-custom">Dodaj sport</button>
        </a>
    {% endif %}
{% endblock content %}