{% extends 'template.html' %}
{% block title %}Klasy{% endblock title %}

{% block heading %}Klasy{% endblock heading %}
{% block content %}
    <table class="table is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID klasy">ID</abbr></th>
            <th>Nazwa klasy:</th>
            <th>Rok:</th>
            <th>Wyniki:</th>
            <th>Uczniowie:</th>
            <th>Edytuj:</th>
        </tr>
        <tbody>
        {% for clazz in object_list %}
            <tr>
                <th>{{ clazz.pk }}</th>
                <td>{{ clazz.name }}</td>
                <td>{{ clazz.year }}</td>
                <td>
                    <a href="{% url 'wyniki:sports_list' clazz.id %}">
                        <button type="button" class="btn btn-primary">Wyniki</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'wyniki:classes_students' clazz.id %}">
                        <button type="button" class="btn btn-success">Uczniowie</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'wyniki:classes_update' clazz.id %}">
                        <button type="button" class="btn btn-success">Edytuj</button>
                    </a>
                </td>
            </tr>
        {% empty %}
            <p>Nie znalaziono żadnej klasy</p>
        {% endfor %}
        </tbody>
        </thead>
    </table>
{% endblock content %}