{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block title %}Klasy{% endblock title %}
{% block heading %}Dodaj klasę z uczniami:{% endblock heading %}
{% block menuclass2 %} active-custom{% endblock menuclass2 %}
{% block content %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
    <form class="form-horizontal" method="POST" action="" id="myForm">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ class_form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ class_form.year|as_crispy_field }}
            </div>
        </div>
        {% for form in formset %}
            <div class="row one-row col-12" style="margin-top: 2%" id="student_0">
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div style="margin-top: 1%">
            <button type="submit" class="btn btn-custom">Dodaj</button>
        </div>
        {{ formset.management_form }}
    </form>

    <script type="text/javascript">
        $(function () {
            $('#myForm .one-row').formset({
                addText: '<button type="button" class="btn btn-custom" style="background-color: #28a745;">Dodaj kolejnego ucznia</button>',
                deleteText: '<button class="btn btn-custom" style="background-color: #dc3545; margin-top: 18%; margin-left: 5px;">Usuń ucznia</button>'
            });
        })
    </script>
{% endblock content %}