{% extends 'template.html' %}
{% block title %}Sporty{% endblock title %}
{% block heading %}Lista sportów:{% endblock heading %}
{% block menuclass4 %} active-custom{% endblock menuclass4 %}
{% block content %}
    {% if object_list %}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Nazwa sportu</th>
                <th class="text-center" scope="col">Edytuj</th>
                <th class="text-center" scope="col">Usuń</th>
            </tr>
            </thead>
            <tbody>
            {% for sport in object_list %}
                <tr>
                    <th class="text-center">{{ sport.pk }}</th>
                    <td class="text-center">{{ sport.name }}</td>
                    <td class="text-center">
                        <a href="{% url 'wyniki:sports_update' sport.id %}">
                            <button class="btn btn-custom">Edytuj</button>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'wyniki:sports_delete' sport.id %}">
                            <button class="btn btn-custom" style="background-color: #dc3545">Usuń</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>W naszej bazie danych nie ma żadnych sportów!</p>
        <a href="{% url 'wyniki:sports_create' %}">
            <button type="button" class="btn btn-custom">Dodaj sport</button>
        </a>
    {% endif %}
{% endblock content %}

