{% extends 'template.html' %}
{% block title %}Uczniowie{% endblock title %}
{% block heading %}Lista uczniów:{% endblock heading %}
{% block menuclass3 %} active-custom{% endblock menuclass3 %}
{% block content %}
    {% if object_list %}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Imię</th>
                <th class="text-center" scope="col">Nazwisko</th>
                <th class="text-center" scope="col">Klasa</th>
            </tr>
            </thead>
            <tbody>
            {% for student in object_list %}
                <tr>
                    <th class="text-center">{{ student.pk }}</th>
                    <td class="text-center">{{ student.first_name }}</td>
                    <td class="text-center">{{ student.last_name }}</td>
                    <td class="text-center">{{ student.clazz }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>W bazie danych nie ma żadnych uczniów.</p>
        <a href="{% url 'wyniki:students_create' %}">
            <button type="button" class="btn btn-custom">Dodaj uczniów</button>
        </a>
    {% endif %}
{% endblock content %}