<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'wyniki/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
                <span style="font-size: 3em; color: white; padding-left: 10%">
                    <i class="fas fa-dumbbell"></i>
                </span>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-end">
        <a class="navbar-item" href="{% url 'wyniki:index' %}">
            Strona główna
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Klasy
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'wyniki:classes_list' %}">
                    Pokaż klasy
                </a>

                <a class="navbar-item" href="{% url 'wyniki:classes_create' %}">
                    Dodaj klasę
                </a>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Uczniowie
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'wyniki:students_list' %}">
                    Pokaż listę uczniów
                </a>

                <a class="navbar-item" href="{% url 'wyniki:students_create' %}">
                    Dodaj uczniów
                </a>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="buttons register_button">
            <a class="button is-primary">
                <strong>Zarejestruj się</strong>
            </a>

            <a class="button is-light">
                Zaloguj się
            </a>
        </div>
    {% else %}
        <a class="navbar-item">
            Wyloguj się
        </a>
    {% endif %}
</nav>

<section class="section">
    <div class="container">
        <div class="content is-medium">
            <h3 class="title is-3">{% block heading %}{% endblock heading %}</h3>
            <div class="box">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</section>
</body>
</html>